
// Colors
//
$gray-400: #A8AEBB;
$gray-300: lighten($gray-400, 10);
$gray-200: lighten($gray-400, 20);
$gray-100: lighten($gray-400, 30);
$gray-500: darken($gray-400, 12);
$gray-600: darken($gray-400, 24);
$gray-700: darken($gray-400, 36);
$gray-800: darken($gray-400, 48);
$gray-900: darken($gray-400, 60);

$primary: #00448B;
$secondary: #07D9C4;
$tertiary: #44C3D1;

$body-color: $gray-700;
$body-bg: $gray-100;

// Spacing
//
$spacer: 2rem;

// Typography
//
@import url('https://fonts.googleapis.com/css?family=Eczar:400,600|Red+Hat+Text:400,700');

$font-family-serif: 'Eczar', serif;
$font-family-sans-serif: 'Red Hat Text', sans-serif;
$font-family-base: $font-family-serif;
$font-size-base: 1rem;

$line-height-base: 1.7;

$paragraph-margin-bottom: $spacer * .4;

//$headings-font-family: 'Eczar', serif;
$headings-margin-bottom: $spacer / 1rem * .5em;

$h1-font-size: $font-size-base * 2.8;
$h2-font-size: $font-size-base * 2.3;
$h3-font-size: $font-size-base * 1.9;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

