@import '../../styles/styles';

$layout-spacer: 6vmin;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.site-header,
.site-content,
.site-footer {
  margin: $layout-spacer;
}
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 7em;

  nav {
    padding: calc(#{$layout-spacer} - .25em) 0;

    a {
      display: block;
      padding: .25em 0;
    }
  }
}
.site-title {
  margin: 0;
  border: solid .2em;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  padding: .5em;
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;

  a {
    display: block;
    color: inherit;
    margin-bottom: -.05em;
  }
}
.site-nav {
  display: none;
}
.mobile-menu-toggle {
  padding: .4em .7em;
  margin-right: -.7em;
  border: 0;
  background: transparent;

  svg {
    display: block;
    stroke-width: 3px;
    stroke-linecap: square;
    width: 1.5em;
    height: 1.5em;
  }
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.site-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (orientation:landscape) {

  .layout {
    flex-direction: row;
  }
  .site-header {
    //width: 20%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .site-nav {
    display: block;
  }
  .mobile-menu-toggle {
    display: none;
  }

}
