@import '../../styles/styles';

$layout-spacer: 4vmin;
$layout-bgcolor-1: mix(adjust-color($primary, $saturation:100, $hue:-10), white, 40);
$layout-bgcolor-2: mix(adjust-color($primary, $saturation:100, $hue:-90), white, 8);

.layout {
  min-height: var(--windowInnerHeight);
  display: flex;
  flex-direction: column;
  color: $primary;
  background: linear-gradient(19deg, $layout-bgcolor-1, $layout-bgcolor-2)
}
.layout,
.site-header,
.site-content,
.site-footer {
  padding: $layout-spacer;
}
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-title,
.site-nav {
  font-family: $font-family-sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .75em;
}
.site-title {
  margin: 0;
  border: solid .2em;
  padding: .7em .5em;
  display: inline-block;

  a {
    display: block;
    margin: 0 -.25em 0 .5em;
    color: inherit;
    margin-bottom: -.05em;
  }
}
.site-nav {
  display: none;

  &,
  a {
    padding-top: .75em;
    padding-bottom: .75em;
  }
  a {
    display: block;
    color: inherit;
  }
}
.mobile-menu-toggle {
  padding: .4em .7em;
  margin-right: -.7em;
  border: 0;
  background: transparent;
  color: inherit;

  svg {
    display: block;
    stroke-width: 3px;
    stroke-linecap: square;
    width: 1.5em;
    height: 1.5em;
    stroke-color: currentColor;
  }
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.site-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-footer {
  font-family: $font-family-sans-serif;
  font-size: .75em;
}

@media (orientation:landscape) {

  .layout {
    flex-direction: row;
  }
  .site-header {
    //width: 20%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .site-nav {
    display: block;
  }
  .mobile-menu-toggle {
    display: none;
  }

}
